# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iwsl
classes
gen-external-apklibs
local.properties

# Gradle
.gradle
build

# Google play
/dependency/google-play-services_lib/gen
/dependency/google-play-services_lib/bin
/dependency/google-play-services_lib/.settings