<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dima.tkswidget"
    android:versionCode="41"
    android:versionName="1.0 (41)"
    android:installLocation="internalOnly">

    <uses-sdk 
        android:minSdkVersion="10" 
        android:targetSdkVersion="19"
        />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
	<uses-permission android:name="android.permission.READ_SYNC_STATS"/>

    <application
        android:icon="@drawable/tasks"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:name="org.holoeverywhere.app.Application" >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity 
            android:name=".activity.About"
            android:taskAffinity="com.dima.tkswidget.main"
            android:theme="@style/Holo.Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".activity.WidgetCfg"
            android:theme="@style/Holo.Theme.Light">
			<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
    		</intent-filter>
        </activity>

        <activity
            android:name=".activity.ActionSelect"
        	android:excludeFromRecents="true" 
        	android:launchMode="singleInstance"
        	android:taskAffinity="com.dima.tkswidget.widgetaction"
        	android:theme="@style/Transparent"
            >
        </activity>
        
        <service
                android:name=".TaskSyncService"
                android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                    android:resource="@xml/syncadapter" />
        </service>

        <service android:name=".WidgetControllerService" />

        <provider android:name=".TaskContentProvider"
            android:authorities="com.dima.tkswidget.provider"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>
        
        
        <receiver android:name="com.dima.tkswidget.provider.BaseProvider">
		</receiver>
		
	    <receiver android:name="com.dima.tkswidget.provider.TransparentProvider" android:label="Transparent widget" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/widgetinfo_transparent" />    
		</receiver>  
	    
	    <receiver android:name="com.dima.tkswidget.provider.BlackProvider" android:label="Black widget">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
			<meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/widgetinfo_black" />	    
		</receiver>
		
	    <receiver android:name="com.dima.tkswidget.provider.BlackFlatProvider" android:label="Black flat widget">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
			<meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/widgetinfo_black_flat" />	    
		</receiver>
		
	    <receiver android:name="com.dima.tkswidget.provider.BlueProvider" android:label="Blue widget">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
			<meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/widgetinfo_blue" />	    
		</receiver>
		
	    <receiver android:name="com.dima.tkswidget.provider.GreenProvider" android:label="Green widget">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
			<meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/widgetinfo_green" />	    
		</receiver>
		
		<receiver android:name="com.dima.tkswidget.provider.OrangeProvider" android:label="Orange widget">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
			<meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/widgetinfo_orange" />	    
		</receiver>
		
		<receiver android:name="com.dima.tkswidget.provider.PurpProvider" android:label="Purple widget">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
			<meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/widgetinfo_purp" />	    
		</receiver>
		
		<receiver android:name="com.dima.tkswidget.provider.RedProvider" android:label="Red widget">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
			<meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/widgetinfo_red" />	    
		</receiver>

    </application>
    
</manifest>