<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dima.tkswidget"
    android:versionCode="31"
    android:versionName="1.0 (31)" 
    android:installLocation="internalOnly">

    <uses-sdk 
        android:minSdkVersion="10" 
        android:targetSdkVersion="18"
        />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
	<uses-permission android:name="android.permission.READ_SYNC_STATS"/>

    <application
        android:icon="@drawable/tasks"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:name="org.holoeverywhere.app.Application" >

        <activity 
            android:name=".activity.About"
            android:theme="@style/Holo.Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".activity.WidgetCfg"
            android:theme="@style/Holo.Theme.Light">
			<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
    		</intent-filter>
        </activity>

        <activity
            android:name=".activity.ActionSelect"
        	android:excludeFromRecents="true" 
        	android:launchMode="singleInstance"
        	android:taskAffinity="com.dima.widgetaction"
        	android:theme="@style/Transparent"
            >
        </activity>
        
	    <receiver android:name=".TaskWidgetProvider" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		        <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
		        <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
		        <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/widgetinfo" />
		</receiver>  
	    
        <service
                android:name=".TaskSyncService"
                android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                    android:resource="@xml/syncadapter" />
        </service>
	    
        <provider android:name=".TaskContentProvider"
            android:authorities="com.dima.tkswidget.provider"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>
	    
    </application>
    
</manifest>