-optimizationpasses 5
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontskipnonpubliclibraryclassmembers
-dontpreverify
-verbose
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*

-libraryjars .\libs
-libraryjars ..\dependency\HoloEverywhere\library\bin
-libraryjars ..\dependency\HoloEverywhere\contrib\ActionBarSherlock\actionbarsherlock\bin

# Needed by google api
-dontwarn net.oauth.**
-dontwarn javax.annotation.**
-dontwarn javax.jdo.**
-dontwarn javax.servlet.**
-dontwarn org.codehaus.jackson.**
-dontwarn org.joda.time
-dontwarn com.google.api.client.auth.**
-dontwarn com.google.api.client.googleapis.**
-dontwarn com.google.api.client.extensions.**
-dontwarn com.google.protobuf.**
-dontwarn com.google.appengine.**

-dontwarn com.actionbarsherlock.**
-dontwarn org.holoeverywhere.**
-dontwarn android.support.**

-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class com.android.vending.licensing.ILicensingService
-keep public class dima.soft.activity.About
-keep public class dima.soft.activity.ActionSelect
-keep public class dima.soft.activity.WidgetCfg


# Needed by google api 
-keep public class * extends com.google.api.client.json.GenericJson

-keepclasseswithmembernames class * {
    native <methods>;
}

# -keepclasseswithmembers class * {
#    public <init>(android.content.Context, android.util.AttributeSet);
# }

# -keepclasseswithmembers class * {
#    public <init>(android.content.Context, android.util.AttributeSet, int);
# }

-keepclassmembers class * extends android.app.Activity {
   public void *(android.view.View);
}

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}

