-optimizationpasses 5
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontskipnonpubliclibraryclassmembers
-dontpreverify
-verbose
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*

# Needed by google api
-dontwarn net.oauth.**
-dontwarn javax.annotation.**
-dontwarn javax.jdo.**
-dontwarn javax.servlet.**
-dontwarn org.codehaus.jackson.**
-dontwarn org.joda.time
-dontwarn com.google.api.client.auth.**
-dontwarn com.google.api.client.googleapis.**
-dontwarn com.google.api.client.extensions.**
-dontwarn com.google.protobuf.**
-dontwarn com.google.appengine.**

-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference
-keep public class * extends org.holoeverywhere.preference.PreferenceActivity
-keep public class com.android.vending.licensing.ILicensingService

# Needed by google api 
-keep public class * extends com.google.api.client.json.GenericJson

-keepclasseswithmembernames class * {
    native <methods>;
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepclassmembers class * extends android.app.Activity {
   public void *(android.view.View);
}

-keepclassmembers class * extends org.holoeverywhere.preference.PreferenceActivity {
   public void *(android.view.View);
}

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}

# Needed by google-api-client to keep generic types and @Key annotations accessed via reflection

-keepclassmembers class * {
  @com.google.api.client.util.Key <fields>;
}

-keepattributes Signature,RuntimeVisibleAnnotations,AnnotationDefault

# Needed by Guava

-dontwarn sun.misc.Unsafe
